.btn{
  border-radius: 0px;
}

.btn > i {
  margin-right: 10px;
}

input[type="text"].form-control, 
input[type="password"].form-control, 
input[type="email"].form-control,
.input-group-text { 
  border-radius: 0px;
}

nav{
  margin-bottom: '20px !important'
}